.FieldSetsEditor{
    display:flex;
    margin-bottom: 15px;
}

.ScatterDotSize{
    width:65px;
    padding-right:5px;
}

.ScatterDot{
    padding-top:7px;
}

.ScatterSelect{
    width:100%;
}

.ScatterExtents{
    display:flex;
}

.ScatterExtentLimit{
    padding-right:20px;
}

.ScatterLegendRect{
    border:1px solid rgba(255, 255, 255, 0.25);
}


.ScatterSet{

}

.ScatterSetHidden{
  fill:rgba(119, 119, 119, 0.25);
}

.ScatterLine{
  fill: none;
  stroke-width: 3px;
}

.ScatterLineHidden{
  opacity: 0.25;
  stroke-width: 1px;
}

.TitleEditor{
    display:flex;
}

.TitleText{
    padding-right:20px;
}

.TitleSize{
    padding-right:20px;
    max-width: 70px;
}

.TitleColor{
    padding-top:7px;
}

.TitleLabel{
    padding-top:8px;
    color:#777;
    font-size: smaller;
}

.ScatterLegendText{
    border: 1px solid rgb(255, 255, 255); 
}

.ScatterLegendTextHidden{
    fill:rgba(119, 119, 119, 0.25);
}
