.FieldSetsEditor{
  margin-bottom: 25px;
}

.ScatterFlex{
  display:flex;
  flex-wrap: nowrap;
  padding:1px;
}

.ScatterSize{
  width: 115px;
}

.ScatterSize input{
  width: 55px;
}

.ScatterDotColor{
    padding-top:7px;
}

.ScatterSelect{
    width:100%;
}

.ScatterExtents{
    display:flex;
}

.ScatterExtentLimit{
    padding-right:20px;
}

.ScatterLabel{
  padding-top: 6px;
  width: 90px;
  color: rgb(159, 167, 179);
  font-size: 12px;
}

.ScatterSetHidden{
  fill:rgba(119, 119, 119, 0.25);
}

.ScatterLine{
  fill: none;
}

.ScatterLineHidden{
  opacity: 0.25;
  stroke-width: 1px;
}

.TitleEditor{
    display:flex;
}

.TitleText{
    padding-right:20px;
}

.TitleSize{
    padding-right:20px;
    max-width: 70px;
}

.TitleColor{
    padding-top:7px;
}

.TitleLabel{
    padding-top:8px;
    color:#777;
    font-size: smaller;
}

.ScatterLegend input {
  width: 50px;
}

.ScatterLegendText{
    border: 1px solid rgb(255, 255, 255); 
}

.ScatterLegendTextHidden{
    fill:rgba(119, 119, 119, 0.25);
}
