.FieldSetsEditor{
    display:flex;
    margin-bottom: 15px;
}

.ScatterDotSize{
    width:65px;
    padding-right:5px;
}

.ScatterDot{
    padding-top:7px;
}

.ScatterSelect{
    width:100%;
}

.ScatterExtents{
    display:flex;
}

.ScatterExtentLimit{
    padding-right:20px;
}